<div class="container">
    <div class="row mb-3">
        <!-- About me-->
        <div class="col-lg shadow border m-2 p-2">
            <div class="text-center">
                <h2>About me</h2>
                <img src="../../assets/passportPic.jpg" alt="profile pic" 
                    width="200" height="200" class="rounded-circle">
                <p class="m-3">{{aboutMe}}</p>
            </div>
        </div>
        <!-- Featured project-->
        <div class="col-lg shadow border m-2 p-2">
            <div class="text-center">
                <h2>Featured Projects</h2>
            </div>
        </div>
    </div>
</div>